In [0]:
%sql
-- CREATE TABLE Salespersons (
--   id INT,
--   name VARCHAR(255)
-- );

-- CREATE TABLE Sales (
--   id INT,
--   salesperson_id INT,
--   amount DECIMAL(20,4),
--   created_at DATE
-- );

-- INSERT INTO Salespersons VALUES (1, 'Becca'), (2, 'Jade'), (3, 'Shawna'), (4, 'Priya');
-- INSERT INTO Sales VALUES
-- (1, 1, 55.72, '2021-01-22'),
-- (2, 2, 133.48, '2021-01-12'),
-- (3, 3, 533.63, '2021-12-12'),
-- (4, 1, 33.78, '2021-01-12'),
-- (5, 1, 31.58, '2021-02-02'),
-- (6, 3, 43.58, '2021-05-13'),
-- (7, 2, 43.58, '2021-07-11'),
-- (8, 3, 43.58, '2021-12-13'),
-- (9, 1, 43.58, '2022-09-17'),
-- (10, 3, 43.58, '2021-05-13'),
-- (11, 3, 436.52, '2022-02-13'),
-- (12, 4, 533.64, '2021-12-12'),
-- (13, 3, 500.00, '2019-12-13');


-- Write a query that returns the name of the salesperson
-- who had the highest sales total in any single month, the year and 
-- the month when the record occurred, and the total in sales that person landed for that month.






WITH MonthlySales AS (
    SELECT 
       s.salesperson_id,
	   extract(YEAR from s.created_at) as SALES_YEAR,
	   extract(Month from s.created_at) as Sales_Month,
	   SUM(s.amount) AS total_sales
		 FROM Sales s
    GROUP BY s.salesperson_id, 
	EXTRACT(YEAR FROM s.created_at),
	EXTRACT(MONTH FROM s.created_at)   
),

RankedSales as (
select 
	salesperson_id,
	SALES_YEAR,
	SALES_MONTH	,
	total_sales	,
	RANK() OVER( order by total_sales  desc ) as 
	sales_rank from MonthlySales

)

select   b.name,
    a.SALES_YEAR AS Year,
    a.SALES_MONTH AS Month,
    a.total_sales AS Total from 
RankedSales a join Salespersons b
on a.salesperson_id = b.id where a.sales_rank=1;

name,Year,Month,Total
Shawna,2021,12,577.2100